.detail-specialty-container {

    .description-specialty {
        margin : 0 100px;
        width  : 100%;
        padding: 20px 0 10px 0;

        h1,
        h3,
        h4 {
            font-size: 14px;
        }

        ul {
            font-size: 13px;
        }
    }

    .detail-specialty-body {
        background-color: #eeeeee;
        padding         : 20px 0;

        .search-province-doctor-specialty {
            margin        : 0 100px;
            padding-bottom: 10px;

            select {
                width              : 150px;
                height             : 38px;
                text-align         : center;
                transition-duration: 1s;
                outline            : none;
                border             : 1px solid #ddd;
                border-radius      : 5px;
                box-shadow         : 0px 1px 6px #9e9e9e;
                font-size          : 16px;
                cursor             : pointer;


                option {
                    font-size : 14px;
                    margin-top: 10px;
                }
            }
        }

        .detail-specialty {
            margin: 0 100px;

            .each-doctor {
                background-color: white;
                border          : 1px solid #ddd;
                border-radius   : 8px;
                box-shadow      : 0px 1px 6px #9e9e9e;
                display         : flex;
                width           : 100%;
                min-height      : 259px;
                margin-top      : 10px;
                padding         : 15px 10px;
                margin-bottom   : 30px;

                .dt-content-left {
                    width: 50%;

                    .doctor-profile {
                        padding: 10px 15px 10px 10px;

                        .intro-doctor {
                            margin-bottom: 0 !important;

                            .content-left {
                                margin-left: 0 !important;
                                width      : 100px;
                                height     : 100px;
                                border     : 1px solid #ddd;
                            }

                            .content-right {
                                line-height: 22px;

                                .text-down {
                                    padding-top: 5px;
                                }

                                .price {
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                }

                .dt-content-right {
                    width      : 50%;
                    padding    : 0 10px 0 15px;
                    border-left: 1px solid #ddd;

                    .doctor-schedule {
                        margin-bottom: 10px;
                    }

                    .doctor-extra {}
                }
            }
        }

    }

}