.preview-img-container {
    .label-upload {
        padding         : 5px 10px;
        border          : 1px solid gray;
        border-radius   : 5px;
        color           : black;
        background-color: #ddd;
        cursor          : pointer;

        i {
            margin-left : 10px;
            padding-left: 10px;
            border-left : 2px solid black;
            font-size   : 14px;
        }

        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 1;
        }
    }

    .preview-image {
        height             : 70px;
        width              : 70px;
        border             : 1px solid #ddd;
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;
        cursor             : pointer;
    }
}